<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="in.krosbits.musicolet" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-feature android:name="android.hardware.ram.low" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.1"/>
    <application android:allowBackup="false" android:icon="@mipmap/ic_launcher3" android:label="@string/app_name" android:name="in.krosbits.musicolet.MyApplication" android:process=":musicolet" android:supportsRtl="false" android:theme="@style/AppTheme_ActionBar_Dark">
        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc"/>
        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon" android:resource="@drawable/musicolet_mono_24dp"/>
        <meta-data android:name="android.app.default_searchable" android:value="in.krosbits.musicolet.MusicActivity"/>
        <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        <activity android:configChanges="screenSize" android:exported="true" android:launchMode="singleTask" android:name="in.krosbits.musicolet.MusicActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.MUSIC_PLAYER"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.MEDIA_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>
        <service android:enabled="true" android:exported="false" android:label="Mplayer Music Player" android:name="in.krosbits.musicolet.MusicService"/>
        <service android:name="in.krosbits.musicolet.TaskSaviour" android:stopWithTask="false"/>
        <receiver android:enabled="true" android:exported="true" android:name="in.krosbits.musicolet.RemoteMediaControlReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:label="Search" android:name="in.krosbits.musicolet.SearchActivity" android:theme="@style/AppTheme_NoActionBar_Light" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="in.krosbits.musicolet.SettingsActivity"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="in.krosbits.musicolet.EqualizerActivity" android:theme="@style/AppTheme_NoActionBar_Light"/>
        <receiver android:enabled="true" android:exported="true" android:name="in.krosbits.musicolet.MyReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:launchMode="singleTask" android:name="in.krosbits.musicolet.TagActivity" android:theme="@style/AppTheme_ActionBar_Light" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:exported="false" android:name="in.krosbits.musicolet.AboutActivity"/>
        <receiver android:label="@string/widget_4x1_simple" android:name="in.krosbits.musicolet.Widget4X1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x1_info"/>
        </receiver>
        <receiver android:label="@string/widget_4x1_advance_controls" android:name="in.krosbits.musicolet.Widget4X1Adv">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x1_adv_info"/>
        </receiver>
        <receiver android:enabled="@bool/honeycombOrAbove" android:label="@string/widget_4x3_with_queue" android:name="in.krosbits.musicolet.Widget4X3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x3_info"/>
        </receiver>
        <service android:enabled="true" android:exported="true" android:name="in.krosbits.musicolet.WidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <activity android:allowTaskReparenting="true" android:alwaysRetainTaskState="false" android:clearTaskOnLaunch="true" android:enabled="true" android:excludeFromRecents="true" android:exported="false" android:finishOnTaskLaunch="true" android:name="in.krosbits.musicolet.KitkatHackActivity" android:noHistory="true" android:stateNotNeeded="true" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:allowTaskReparenting="true" android:alwaysRetainTaskState="false" android:clearTaskOnLaunch="true" android:enabled="true" android:excludeFromRecents="true" android:exported="false" android:finishOnTaskLaunch="true" android:name="in.krosbits.musicolet.GhostActivity" android:noHistory="true" android:stateNotNeeded="true" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="in.krosbits.musicolet.LockScreenActivity" android:noHistory="true" android:screenOrientation="portrait" android:showOnLockScreen="true" android:theme="@style/noAnimFullScreenTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:name="in.krosbits.musicolet.LockScreenReceiver"/>
        <activity android:exported="false" android:icon="@drawable/ic_web_black_24dp" android:label="Search online" android:name="in.krosbits.musicolet.GhostSearchActivity" android:roundIcon="@drawable/ic_web_black_24dp" android:theme="@style/Theme.Transparent"/>
        <activity android:exported="false" android:name="in.krosbits.musicolet.FolderExcluderActivity"/>
        <activity android:exported="false" android:name="in.krosbits.musicolet.IVActivity" android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:exported="false" android:name="in.krosbits.musicolet.FAQActivity"/>
        <service android:exported="true" android:name="in.krosbits.musicolet.MediaBrowserServiceImpl">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="in.krosbits.musicolet.RescanFolderActivity"/>
        <provider android:authorities="in.krosbits.musicolet" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>